.DS_Store
algorithm-targets/*.pdf
algorithm-targets/*.ppt
notes/*.markdown
notes/*.html
notes/image/*
book/*.idx
book/*.ilg
book/*.ind
book/*.bbl
book/*.blg
book/*.aux
book/*.pdf
book/*.toc
book/*.out
book/*.log
book/*.synctex.gz
book/graphics/*
workspace/*
workspace/**/*.bbl
workspace/**/*.blg
workspace/**/*.toc
workspace/**/*.aux
workspace/**/*.pdf
workspace/**/*.out
workspace/**/*.log
workspace/*.bak
workspace/**/*.synctex.gz
deprecated/**/*.toc
deprecated/**/*.aux
deprecated/**/*.pdf
deprecated/**/*.out
deprecated/**/*.log
!workspace/release/*.pdf
src/*
src/algorithms/*.log
web/docs
web/epub_temp
web/*.epub
**/*~
**/*/*~
**/*.bak
*.swp
